.outer-paper {
  margin: 15px;
  width: 40%;
  height: 40%;
  position: relative;
  padding: 5px;
  border-style: inset;
  text-align: center;
}


.block{
  position: relative;
  padding: 5px;
  text-align: center;
}

.header {
  text-align: center;
}
